body {
    background-color: rgb(37, 37, 37); 
    color: white; 
    
}

.tbody,
tr,
td {
   border: 1px solid rgb(9, 191, 223);
   padding: 10px;
   background-color: rgb(93, 95, 98);
}



